.col {
  background: #fdca6d;
  border-radius: 1px;
  border: 2px solid #fdca6d;
  height: 100px;
  margin: 1px;
}

.container{
  margin: 50px auto 0px auto;
  padding: 0px;
}

.col-lg-6.offset-lg-6.col-md{
  background: #d62f32;
  border-radius: 1px;
  border: 2px solid #ffffff;
  height: 100px;
  padding: 3px;
}

.col-lg-8.offset-lg-2.col-md-8.col-sm-8{
  background: #d62f32;
  border-radius: 1px;
  border: 2px solid #ffffff;
  height: 100px;
  padding: 3px;
}

.col-lg-3.offset-lg-0.offset-md-9.offset-sm-9{
  background: #d62f32;
  border-radius: 1px;
  border: 2px solid #ffffff;
  height: 100px;
  padding: 3px;
}
